*{
    padding: 0%;
    margin: 0%
}

nav{
    position: sticky;
    top: 0;
    width: 100%;
    height: 3vw;
    background: #000;
    opacity: 0.8;
    z-index: 10;
}
nav ul{
    width: 50%;
    margin: auto;
    
}
nav ul li{
    display: flex;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    padding: 1% 3%;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: wheat;
    font-size:  100%; 
    font-family: "Playwrite PE", cursive;
    

}
nav ul li a:hover{
    background: wheat;
    color:black;
    border-radius:  10px; 
}
#gbimg{
    position: relative;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.text{
    font-size: 1vw;
    font-family: "Playwrite PE", cursive;
    width: 90%;
    margin: auto;
    padding: 1%;
}
.place{
    width: 100%;
    height: 100%;
    color: rgb(238, 157, 8);

}
.info{
    margin: 53px;
    background-color: wheat;
    border-radius: 12%;
    width: fit-content;
    height: fit-content;
    padding: 6%;
    opacity: 0.8;
}
#map{
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}